<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- Console Appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <!-- File Appender -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS_ABSOLUTE_PATH}/app.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      <charset>utf8</charset>
    </encoder>
    <!-- 하루마다 롤링, gz 압축 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOGS_ABSOLUTE_PATH}/app.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <springProfile name="local">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="dev,prod">

    <property name="LOGS_ABSOLUTE_PATH" value="~/sbooky/logs"/>

    <!-- Discord Appender -->
    <property resource="logging.yml"/>
    <springProperty name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-uri"/>
    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
      <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>```%d{yyyy-MM-dd HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```</pattern>
      </layout>
      <username>스북이 비상 🚨</username>
      <avatarUrl>
        https://private-user-images.githubusercontent.com/84575041/433232772-9dd20d5f-a420-49ad-af81-887d61c8a8ad.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NDQ2MTA1MTksIm5iZiI6MTc0NDYxMDIxOSwicGF0aCI6Ii84NDU3NTA0MS80MzMyMzI3NzItOWRkMjBkNWYtYTQyMC00OWFkLWFmODEtODg3ZDYxYzhhOGFkLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTA0MTQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwNDE0VDA1NTY1OVomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTZmOTE0NDhkY2EzYTQ5MmJmNGM1OGIxZWE0NjQ5ODU4ZjQ1ZDRkYWQ0NTUyMWIxZGI2MzA3ZjNmNzFlMmJmZTEmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.wYCIKDPmASllJs0321vF5QzT6B_qjujPzI-3yKbScBI
      </avatarUrl>
      <tts>false</tts>
    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="DISCORD"/>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>
    <!-- Discord Appender -->

    <root level="INFO">
      <appender-ref ref="ASYNC_DISCORD"/>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>
</configuration>
